:root{
    --transparent-color: rgba(0,0,0,0);
    --transparent-half: rgba(0, 0, 0, 0.60);
    --trans-white: rgba(255, 255, 255, .6);
    --trans-light-grey: rgba(219, 219, 219, .7);
    --light-grey: rgb(185, 185, 185);
    --dark-blue: rgb(0, 20, 45);
    --darkest-blue: rgb(0, 10, 21);
    --trans-light-blue: rgba(112, 229, 255, 0.484);
    --light-blue: rgb(40, 116, 154);
    --lightest-blue: rgb(82, 172, 218);
    --navbar-height: 100px;
    --art-tile-large: 300px;
    --art-tile-small: 250px;
    --project-tile-large: 350px;
    --project-tile-small: 250px;
}
html {
    scroll-padding-top: var(--navbar-height);
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#navbar {
    position: fixed;
    width: 100%;
    height: var(--navbar-height);
    background: linear-gradient(to bottom, var(--light-blue) 0%, var(--transparent-color) 100%);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#nav-links {
    flex: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
    width: fit-content;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
}
.nav-link {
    margin: 0 10px 0 10px;
    flex: none;
    text-decoration: none;
    color: white;
    font-size: 16pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#welcome-section {
    color: white;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: var(--dark-blue);
    position: relative;
    box-sizing: border-box;
}
#welcome-info {
    font-size: 24pt;
    flex: none;
}
h1 {
    color: white;
    text-align: center;
}
#welcome-main {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#link-div {
    flex: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.link {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 10px;
    border-radius: 15px;
    color: black;
    font-size: 18pt;
    font-weight: bold;
    text-decoration: none;
    margin: 10px;
}
.icon {
    flex: none;
    width: 50px;
    height: 50px;
}
#linkedin-icon {
    width: 55px;
    height: 55px;
}
.main-section {
    padding-top: 25px;
    padding-bottom: 25px;
}
#projects {
    background-color: var(--light-blue);
    width: 100%;
    box-sizing: border-box;
}
.header {
    font-size: 30pt;
    background-color: var(--transparent-half);
    border-radius: 20px;
    padding: 20px;
    width: fit-content;
    margin: auto;
    margin-top: 50px;
}
.sub-header {
    color: white;
    font-size: 20pt;
    margin-top: 50px;
    margin-bottom: 50px;
}
#profile-div {
    width: 300px;
    height: 300px;
    flex: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: solid white 5px;
    overflow: hidden;
}
#profile-picture {
    width: 350px;
    height: 350px;
    flex: none;
}
.main-section-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-between;
    gap: 100px 100px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
.tile {
    box-sizing: border-box;
    flex: none;
    width: var(--project-tile-large);
    height: var(--project-tile-large);
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    box-shadow: black 15px 15px 15px;
}
.project-tile{
    background-color: var(--dark-blue);
}
.art-tile {
    background-color: var(--light-blue);
}
.project-title {
    position: absolute;
    color: rgb(255, 255, 255);
    background-color: var(--transparent-half);
    border-radius: 15px;
    padding: 10px;
    flex: none;
    z-index: 6;
    font-size: 20pt;
    margin: 0px;
}
.img-div {
    width: calc(var(--project-tile-large) - 50px);
    height: calc(var(--project-tile-large) - 50px);
    position: relative;
    border-radius: 100%;
    border: solid white 5px;
}
.project-img {
    background-size: cover;
    background-position: center;
}
.art-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--trans-light-grey);
}
.art-img {
    flex: none;
    width: var(--art-tile-large);
    height: auto;
    margin: auto;
}
.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding: 10px;
    border: 5px solid black;
    box-shadow: white 0px 0px 50px;
}
.modalImg {
    width: auto;
    height: 100%;
    position: relative;
    flex: none;
    z-index: 11;
}
#modal-hider {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 15;
    background-color: var(--transparent-half);
}
.hide {
    display: none;
}
.show {
    display: block;
}
#photo {
    background-image: radial-gradient(var(--transparent-color) 40%, var(--dark-blue) 100%),
                      url(https://live.staticflickr.com/65535/51890283757_f4f134ef18_h.jpg);
}
#todo {
    background-image: radial-gradient(var(--transparent-color) 40%, var(--dark-blue) 100%),
                      url(https://live.staticflickr.com/65535/52085399403_eec972f05b_o.jpg);
}
#poker {
    background-image: radial-gradient(var(--transparent-color) 40%, var(--dark-blue) 100%),
                      url(https://live.staticflickr.com/65535/51889370032_81ddd40d17_h.jpg);
}
#weather {
    background-image: radial-gradient(var(--transparent-color) 40%, var(--dark-blue) 100%),
                      url(https://live.staticflickr.com/65535/51992869061_5126cfe084_o.jpg);
}
#eggdrop {
    background-image: radial-gradient(var(--transparent-color) 40%, var(--dark-blue) 100%),
                      url(https://live.staticflickr.com/65535/51997934039_d502d0e854_o.jpg);
}
.temp{
    background-image: radial-gradient(var(--transparent-color) 40%, var(--dark-blue) 100%),
                      url(https://i.imgur.com/jWBxLEb.jpg?1);
}
.icon {
    margin: 0 10px 0 10px;
    display: inline-block;
    width: 50px;
    height: 50px;
}
#art-section {
    background-color: var(--dark-blue);
    width: 100%;
    box-sizing: border-box;
}
@media (orientation: portrait) {
    .modal {
        width: 80%;
        height: auto;
    }
    .modalImg {
        width: 100%;
        height: auto;
    }
}
@media (orientation: landscape) {
    .modal {
        width: auto;
        height: 70%;
    }
    .modalImg {
        width: auto;
        height: 100%;
    }
}
@media screen and (max-width: 500px), (max-height: 500px) {
    .tile{
        width: var(--project-tile-small);
        height: var(--project-tile-small);
    }
    .img-div {
        width: calc(var(--project-tile-small) - 20px);
        height: calc(var(--project-tile-small) - 20px);
    }
    .art-img {
        width: var(--art-tile-small);
    }
    .nav-link {
        font-size: 14pt;
    }
    #profile-div {
        width: 275px;
        height: 275px;
    }
    #profile-picture {
        width: 325px;
        height: 325px;
    }
    .sub-header {
        font-size: 14pt;
    }
    .project-title {
        font-size: 17pt;
    }
}
@media screen and (max-height: 500px) {
    #welcome-main {
        top: 100%;
        transform: translate(0, -100%)
    }
    #navbar {
        --navbar-height: 50px;
    }
    #profile-div {
        width: 125px;
        height: 125px;
    }
    #profile-picture {
        width: 150px;
        height: 150px;
    }
    #welcome-info {
        font-size: 15pt;
    }
    .icon {
        width: 35px;
        height: 35px;
    }
    #linkedin-icon {
        width: 37px;
        height: 37px;
    }
    .main-section-wrapper {
        margin-top: 0px;
        margin-bottom: 0px;
        gap: 40px 40px;
    }
    #art-header {
        margin-bottom: 25px;
    }
    .sub-header {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .header {
        margin-top: 0px;
    }
}