:root{
    --transparent-color: rgba(0,0,0,0);
    --transparent-half: rgba(0, 0, 0, 0.75);
    --trans-white: rgba(255, 255, 255, .6);
    --trans-light-grey: rgba(219, 219, 219, .7);
    --light-grey: rgb(185, 185, 185);
    --dark-blue: rgb(0, 20, 45);
    --darkest-blue: rgb(0, 12, 26);
    --trans-light-blue: rgba(112, 229, 255, 0.484);
    --light-blue: rgb(0, 121, 196);
    --lightest-blue: rgb(111, 200, 255);
    --navbar-height: 100px;
    --tile-enlarge-amount: 20px;
    --art-tile-large: 300px;
    --art-tile-small: 250px;
    --art-tile-smallest: 200px;
    --project-tile-large: 350px;
    --project-tile-small: 250px;
    --project-tile-smallest: 200px;
}
html {
    scroll-padding-top: var(--navbar-height);
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    position: absolute;
}
a {
    text-decoration: none;
}
#navbar {
    position: fixed;
    width: 100%;
    height: var(--navbar-height);
    background: linear-gradient(to bottom, var(--light-blue) 30%, var(--transparent-color) 100%);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#nav-links {
    flex: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
    width: fit-content;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
}
.nav-link {
    margin: 0 10px 0 10px;
    flex: none;
    text-decoration: none;
    color: white;
    font-size: 16pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#welcome-section {
    color: white;
    text-align: center;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}
.welcome-header {
    font-size: 24pt;
    flex: none;
}
.welcome-info {
    font-size: 18pt;
    flex: none;
    margin-top: 0px;
}
h1 {
    color: white;
    text-align: center;
}
#welcome-main {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
}
#link-div {
    flex: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.link {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 10px;
    border-radius: 15px;
    color: black;
    font-size: 18pt;
    font-weight: bold;
    text-decoration: none;
    margin: 10px;
}
.icon {
    flex: none;
    width: 50px;
    height: 50px;
}
#linkedin-icon {
    width: 55px;
    height: 55px;
}
.main-section {
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
}
.dark-section {
    background: radial-gradient(var(--dark-blue) 0%, var(--darkest-blue) 100%);
}
.light-section {
    background: radial-gradient(var(--light-blue) 0%, var(--lightest-blue) 100%);
}
#projects {
    width: 100%;
    box-sizing: border-box;
}
.header {
    background-color: var(--dark-blue);
    border-radius: 20px;
    padding: 20px;
    width: fit-content;
    margin: auto;
}
.header, .project-title {
    box-shadow: 0px 0px 10px black;
}
#art-header {
    background-color: var(--light-blue);
    box-shadow: 0px 0px 10px var(--lightest-blue);
}
.main-header {
    font-size: 30pt;
    margin-top: 50px;
}
.sub-header {
    color: white;
    font-size: 20pt;
    margin-top: 75px;
    margin-bottom: 50px;
}
#profile-div {
    margin-top: 10px;
    width: 300px;
    height: 300px;
    flex: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: solid white 5px;
    overflow: hidden;
    box-shadow: 0px 0px 20px var(--lightest-blue);
}
#profile-picture {
    width: 350px;
    height: 350px;
    flex: none;
    left: 5px;
    position: relative;
}
.main-section-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-between;
    gap: 100px 100px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
.tile {
    box-sizing: border-box;
    flex: none;
    width: var(--project-tile-large);
    height: var(--project-tile-large);
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    box-shadow: black 15px 15px 15px;
}
.project-tile{
    background-color: var(--dark-blue);
}

.art-tile {
    background-color: var(--light-blue);
}
.project-title {
    position: absolute;
    color: rgb(255, 255, 255);
    background-color: var(--transparent-half);
    border-radius: 15px;
    padding: 10px;
    flex: none;
    z-index: 6;
    font-size: 20pt;
    margin: 0px;
}
.project-button-holder {
    width: 100%;
    height: auto;
    z-index: 7;
    bottom: -100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    flex: none;
}
.project-button {
    background-color: var(--transparent-half);
    box-shadow: 0px 0px 5px var(--transparent-half);
    padding: 10px;
    color: white;
    font-size: 12pt;
    border-radius: 5px;
    margin: 15px;
    font-weight: bold;
}
.img-div {
    width: calc(var(--project-tile-large) - 50px);
    height: calc(var(--project-tile-large) - 50px);
    position: absolute;
    border-radius: 100%;
    border: solid white 5px;
}
.project-img {
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 20px var(--lightest-blue);
}
.art-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--trans-light-grey);
    box-shadow: 0px 0px 20px var(--darkest-blue);
}
.art-img {
    flex: none;
    width: var(--art-tile-large);
    height: auto;
    margin: auto;
}
.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding: 10px;
    border: 5px solid black;
    box-shadow: white 0px 0px 50px;
}
.modalImg {
    width: auto;
    height: 100%;
    position: relative;
    flex: none;
    z-index: 11;
}
#modal-hider {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 15;
    background-color: var(--transparent-half);
}
.hide {
    display: none;
}
.show {
    display: block;
}
#pets {
    background-image: radial-gradient(var(--transparent-color) 40%, var(--dark-blue) 100%),
                      url(https://live.staticflickr.com/65535/52860527123_6f731ff0da.jpg);
}
#photo {
    background-image: radial-gradient(var(--transparent-color) 40%, var(--dark-blue) 100%),
                      url(https://live.staticflickr.com/65535/51890283757_f4f134ef18_h.jpg);
}
#todo {
    background-image: radial-gradient(var(--transparent-color) 40%, var(--dark-blue) 100%),
                      url(https://live.staticflickr.com/65535/52085399403_eec972f05b_o.jpg);
}
#poker {
    background-image: radial-gradient(var(--transparent-color) 40%, var(--dark-blue) 100%),
                      url(https://live.staticflickr.com/65535/52095454583_4dd7e9042e_o.png);
}
#weather {
    background-image: radial-gradient(var(--transparent-color) 40%, var(--dark-blue) 100%),
                      url(https://live.staticflickr.com/65535/51992869061_5126cfe084_o.jpg);
}
#slime {
    background-image: radial-gradient(var(--transparent-color) 40%, var(--dark-blue) 100%),
                      url(https://live.staticflickr.com/65535/52548245683_6085462f72_o.jpg);
}
#eggdrop {
    background-image: radial-gradient(var(--transparent-color) 40%, var(--dark-blue) 100%),
                      url(https://live.staticflickr.com/65535/52095409261_501732afe5_o.jpg);
}
#cave {
    background-image : radial-gradient(var(--transparent-color) 40%, var(--dark-blue) 100%),
                      url(https://live.staticflickr.com/65535/52091619224_433949a7f2_o.jpg);
}
#survive {
    background-image: radial-gradient(var(--transparent-color) 40%, var(--dark-blue) 100%),
                      url(https://live.staticflickr.com/65535/52095628454_21ee820e2c_o.jpg);
}
.temp{
    background-image: radial-gradient(var(--transparent-color) 40%, var(--dark-blue) 100%),
                      url(https://i.imgur.com/jWBxLEb.jpg?1);
}
.icon {
    margin: 0 10px 0 10px;
    display: inline-block;
    width: 50px;
    height: 50px;
}
#art-section {
    width: 100%;
    box-sizing: border-box;
}
@media (orientation: portrait) {
    .modal {
        width: 80%;
        height: auto;
    }
    .modalImg {
        width: 100%;
        height: auto;
    }
}
@media (orientation: landscape) {
    .modal {
        width: auto;
        height: 70%;
    }
    .modalImg {
        width: auto;
        height: 100%;
    }
}
@media screen and (min-width: 1300px) {
    .art-tile:hover {
        background-color: var(--lightest-blue);
    }
    .project-tile:hover {
        background-color: var(--light-blue);
    }
    .project-button:hover {
        background-color: black;
    }
    .project-button {
        transition: all 1s ease;
    }
    .tile {
        transition: all 1s ease;
    }
}
@media screen and (max-width: 500px) {
    .tile{
        width: var(--project-tile-small);
        height: var(--project-tile-small);
    }
    .img-div {
        width: calc(var(--project-tile-small) - 20px);
        height: calc(var(--project-tile-small) - 20px);
    }
    .project-button-holder {
        bottom: -80px;
    }
    .project-button {
        padding: 7px;
        margin: 5px;
        font-size: 10pt;
    }
    .art-img {
        width: var(--art-tile-small);
    }
    .nav-link {
        font-size: 14pt;
    }
    #profile-div {
        width: 275px;
        height: 275px;
    }
    #profile-picture {
        width: 325px;
        height: 325px;
        left: 2px;
    }
    .sub-header {
        font-size: 14pt;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .project-title {
        font-size: 17pt;
    }
    .main-section-wrapper {
        margin-top: 50px;
        margin-bottom: 50px;
        gap: 60px 60px;
    }
}
@media screen and (max-height: 500px) {
    :root {
        --navbar-height: 50px;
    }
    #welcome-main {
        top: 15px;
        transform: translate(0,0);
    }
    #profile-div {
        width: 100px;
        height: 100px;
    }
    #profile-picture {
        width: 125px;
        height: 125px;
        left: 2px;
    }
    .welcome-header {
        font-size: 15pt;
    }
    .welcome-info {
        font-size: 10pt;
    }
    .icon {
        width: 35px;
        height: 35px;
    }
    #linkedin-icon {
        width: 37px;
        height: 37px;
    }
    .main-section-wrapper {
        margin-top: 0px;
        margin-bottom: 0px;
        gap: 40px 40px;
    }
    #art-header {
        margin-bottom: 25px;
    }
    .sub-header {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .main-header {
        margin-top: 0px;
    }
    .tile{
        width: var(--project-tile-smallest);
        height: var(--project-tile-smallest);
    }
    .img-div {
        width: calc(var(--project-tile-smallest) - 20px);
        height: calc(var(--project-tile-smallest) - 20px);
    }
    .project-button-holder {
        bottom: -65px;
    }
    .project-button {
        padding: 5px;
        margin: 4px;
        font-size: 7pt;
    }
    .art-img {
        width: var(--art-tile-smallest);
    }
    .nav-link {
        font-size: 14pt;
    }
    .project-title {
        font-size: 17pt;
    }
}
